html {
    font-family: 'helvetica neue',helvetica,arial,sans-serif;
}

/* -------------- */
/* result styling */
/* -------------- */

.centerValue {
    width: auto;
    /*padding-right: 1%;*/
    display: block;
    /*vertical-align: top;*/
    padding-top: 0.25em;
}

.leftProgress {
    width: auto;
    display: block;
    /*padding-bottom: 0.2em;*/
}

.leftBox {
    text-align: center;
    width: 6%;
    display: inline-block;
}

.rightTxt {
    margin-bottom: 20px;
    width: 92%;
    padding-left: 2%;
    display: inline-block;
    vertical-align: middle;
}

/* mobile */
@media screen and (max-width: 768px) {
    .leftBox {
        width: 15%;
    }

    .rightTxt {
        width: 83%;
    }

}

/* ----------------------- */
/* progress bar overriding */
/* ----------------------- */

.progress {
    vertical-align: top;
    height: 6px;
    margin-top: 0.5em;
    margin-bottom: auto;
    border-radius: 2px;
    /*background-color: #DDD;
    box-shadow: none;
    border: solid #ddd 0.25px;
    border-left: solid #000 1px;*/
}

.progress-bar {
    background-color: #F8B902;
}

/* ----------------- */
/* navbar overriding */
/* ----------------- */

.p-in-nav {
    padding: 15px 15px 0px 15px;
    color: #ff3848;
}

.override-nav-color, .panel-default>.panel-heading {
    background-color:#1E303C;
}

.override-nav-color, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .panel-default>.panel-heading {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #ddd;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-brand:focus {
    color: #bbb;
}

.login-panel {
    margin-top: 10%;
}

.override-button-font {
    font-size: 1.25em;
}
