<nav class="navbar navbar-default navbar-static-top navbar-expand-lg navbar-expand-md navbar-dark" style="background-color: #1E303C;">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Annotation Tool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if request.path == "/login/" %}
                {% else %}
                    {% if session.email %}
                    <li class="nav-item"></li>
                        <a style="color:#ff3848" class="nav-link">Logged in as: <span style="color: #97e8ef; font-weight:600;">{{session.email}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" style="color:white; font-weight: bold; height: 100%;" class="nav-link" href="{{ url_for('logout') }}">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link">To start tagging, log in using your email first.</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" style="color:white; font-weight: bold; height: 100%;" class="nav-link" href="{{ url_for('login') }}">Log in</a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
